**In this tutorial, weâ€™ll see how to implement an agent that leverages SQL using transformers.agents.**

Whatâ€™s the advantage over a standard text-to-SQL pipeline?

A standard text-to-sql pipeline is brittle, since the generated SQL query can be incorrect. Even worse, the query could be incorrect, but not raise an error, instead giving some incorrect/useless outputs without raising an alarm.

ðŸ‘‰ Instead, an agent system is able to critically inspect outputs and decide if the query needs to be changed or not, thus giving it a huge performance boost.

In [2]:
from sqlalchemy import (
    create_engine,
    MetaData,
    Table,
    Column,
    String,
    Integer,
    Float,
    insert,
    inspect,
    text,
)

engine = create_engine("sqlite:///:memory:")
metadata_obj = MetaData()

# create city SQL table
table_name = "receipts"
receipts = Table(
    table_name,
    metadata_obj,
    Column("receipt_id", Integer, primary_key=True),
    Column("customer_name", String(16), primary_key=True),
    Column("price", Float),
    Column("tip", Float),
)
metadata_obj.create_all(engine)

In [7]:
metadata_obj.tables

FacadeDict({'receipts': Table('receipts', MetaData(), Column('receipt_id', Integer(), table=<receipts>, primary_key=True, nullable=False), Column('customer_name', String(length=16), table=<receipts>, primary_key=True, nullable=False), Column('price', Float(), table=<receipts>), Column('tip', Float(), table=<receipts>), schema=None)})

In [8]:
rows = [
    {"receipt_id": 1, "customer_name": "Alan Payne", "price": 12.06, "tip": 1.20},
    {"receipt_id": 2, "customer_name": "Alex Mason", "price": 23.86, "tip": 0.24},
    {"receipt_id": 3, "customer_name": "Woodrow Wilson", "price": 53.43, "tip": 5.43},
    {"receipt_id": 4, "customer_name": "Margaret James", "price": 21.11, "tip": 1.00},
]
for row in rows:
    stmt = insert(receipts).values(**row)
    with engine.begin() as connection:
        cursor = connection.execute(stmt)

In [9]:
with engine.connect() as con:
    rows = con.execute(text("""SELECT * from receipts"""))
    for row in rows:
        print(row)

(1, 'Alan Payne', 12.06, 1.2)
(2, 'Alex Mason', 23.86, 0.24)
(3, 'Woodrow Wilson', 53.43, 5.43)
(4, 'Margaret James', 21.11, 1.0)

In [11]:
inspector = inspect(engine)
columns_info = [(col["name"], col["type"]) for col in inspector.get_columns("receipts")]

table_description = "Columns:\n" + "\n".join([f"  - {name}: {col_type}" for name, col_type in columns_info])
print(table_description)

Columns:
  - receipt_id: INTEGER
  - customer_name: VARCHAR(16)
  - price: FLOAT
  - tip: FLOAT

In [12]:
from transformers.agents import tool


@tool
def sql_engine(query: str) -> str:
    """
    Allows you to perform SQL queries on the table. Returns a string representation of the result.
    The table is named 'receipts'. Its description is as follows:
        Columns:
        - receipt_id: INTEGER
        - customer_name: VARCHAR(16)
        - price: FLOAT
        - tip: FLOAT

    Args:
        query: The query to perform. This should be correct SQL.
    """
    output = ""
    with engine.connect() as con:
        rows = con.execute(text(query))
        for row in rows:
            output += "\n" + str(row)
    return output

In [13]:
from transformers.agents import ReactCodeAgent, HfApiEngine

agent = ReactCodeAgent(
    tools=[sql_engine],
    llm_engine=HfApiEngine("meta-llama/Meta-Llama-3-8B-Instruct"),
)

In [14]:
agent.run("Can you give me the name of the client who got the most expensive receipt?")

======== New task ========
Can you give me the name of the client who got the most expensive receipt?
Error in code parsing:
The code blob you used is invalid: due to the following error: 'NoneType' object has no attribute 'group'
This means that the regex pattern ```(?:py|python)?\n(.*?)\n``` was not respected: make sure to include code with the correct pattern, for instance:
Thoughts: Your thoughts
Code:
```py
# Your python code here
```<end_action>. Make sure to provide correct code
Traceback (most recent call last):
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/transformers/agents/agents.py", line 121, in parse_code_blob
    return match.group(1).strip()
           ^^^^^^^^^^^
AttributeError: 'NoneType' object has no attribute 'group'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/transformers/agents/agents.py", line 1118, in step
    code_action = parse_code_blob(raw_code_action)
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/transformers/agents/agents.py", line 123, in parse_code_blob
    raise ValueError(
ValueError:
The code blob you used is invalid: due to the following error: 'NoneType' object has no attribute 'group'
This means that the regex pattern ```(?:py|python)?\n(.*?)\n``` was not respected: make sure to include code with the correct pattern, for instance:
Thoughts: Your thoughts
Code:
```py
# Your python code here
```<end_action>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/transformers/agents/agents.py", line 811, in direct_run
    step_logs = self.step()
                ^^^^^^^^^^^
  File "/usr/local/python/3.12.1/lib/python3.12/site-packages/transformers/agents/agents.py", line 1121, in step
    raise AgentParsingError(error_msg)
transformers.agents.agents.AgentParsingError: Error in code parsing:
The code blob you used is invalid: due to the following error: 'NoneType' object has no attribute 'group'
This means that the regex pattern ```(?:py|python)?\n(.*?)\n``` was not respected: make sure to include code with the correct pattern, for instance:
Thoughts: Your thoughts
Code:
```py
# Your python code here
```<end_action>. Make sure to provide correct code
=== Agent thoughts:
I apologize for the mistake. Let me try again.

Thought: I will try to query the receipts table using the sql_engine tool to get the customer name and price of the most expensive receipt. I will print the result to get the necessary information.
>>> Agent is executing the code below:
result = sql_engine(query="SELECT customer_name, price FROM receipts ORDER BY price DESC LIMIT 1;")
print(result)
====
Print outputs:

('Woodrow Wilson', 53.43)

=== Agent thoughts:
Thought: Now that I have the name and price of the most expensive receipt, I'll use the `print` statement to output the result again and then use the `final_answer` tool to provide the final answer.
>>> Agent is executing the code below:
print('Woodrow Wilson', 53.43)
final_answer('Woodrow Wilson')
====
Print outputs:
Woodrow Wilson 53.43

Last output from code snippet:
Woodrow Wilson
Final answer:
Woodrow Wilson

'Woodrow Wilson'

In [ ]:
table_name = "waiters"
receipts = Table(
    table_name,
    metadata_obj,
    Column("receipt_id", Integer, primary_key=True),
    Column("waiter_name", String(16), primary_key=True),
)
metadata_obj.create_all(engine)

rows = [
    {"receipt_id": 1, "waiter_name": "Corey Johnson"},
    {"receipt_id": 2, "waiter_name": "Michael Watts"},
    {"receipt_id": 3, "waiter_name": "Michael Watts"},
    {"receipt_id": 4, "waiter_name": "Margaret James"},
]
for row in rows:
    stmt = insert(receipts).values(**row)
    with engine.begin() as connection:
        cursor = connection.execute(stmt)